* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #fff;
  padding: 0 16px;
}
  .container {
    width: 90%;
    margin: 0 auto;
}

.app{
  text-align:center;
  display:grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows:100px auto 50px;
  grid-template-areas:
  "header header"
  "sideBar mainContent"
  "footer footer"
}

nav {
  grid-area: sideBar;
}
nav ul, li{
  color: green;
  font-size:16px;
  list-style-type: none;
  text-align:left;
  margin-left:5px;
  padding-left:0;
}

nav ul li ul.block li{
  color:red;
  list-style-type: disc;
  margin-left:5px;
  padding-left:0;

}

nav ul .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

main {
  text-align: left;
  font-size: 16px;
  grid-area: mainContent;
}

footer {
  grid-area: footer;
}

.welcome{
  text-align: center;
  margin-top:100px;
}

.students{
  margin-left: 20px;
}

button {
  margin: 5px;
  padding: 1px;
  margin-left: 10px;
}

table {
  width: 95%;
  text-align: center;
  margin: 10px;
  border:1px solid black;
  border-collapse: collapse;
  padding:0;
}

td, th, tr {
  text-align: left;
  padding: 8px;
  font-size:1em;
  margin:0;
}

tr {
  text-align: left;
  padding: 8px;
  font-size:1em;
  margin:0;

}

tr:nth-child(odd) {
  background-color: #eee;
}
a:link, a:visited {
  text-decoration: none;
  color: black;
}

