.nav ul, li{
  font-family: Montserrat;
  font-size:16px;
  list-style-type: none;
  text-align:left;
  margin-left:5px;
  padding-left:0;
}

nav a:visited{
  color:black;
}

nav a:hover{
  background-color: #AB2D2D;
  color: #fff;
}
