h2 {
  font-family: Montserrat;
  margin:25px;
}

h3 {
  font-family: Montserrat;
  margin-left: 20px;
  margin-top:25px;

}

button{
  font-family: Montserrat;
  right: 5px;
  background:#AB2D2D;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  width: auto;
  height: 30px;
  cursor: pointer;
  outline: none ;
  margin:5px;
}

table {
  width: 85%;
  text-align: center;
  font-family: Montserrat;
  margin: 10px auto auto 25px;

  border:1px solid black;
  border-collapse: collapse;
  padding:0;
}

td, th, tr {
  text-align: left;
  padding: 8px;
  font-size:1em;
  margin:0;
}
tr:hover {
  background-color: #8A8A8A;
}

.button {
  text-align:right;
}

tr {
  text-align: left;
  padding: 8px;
  font-size:1em;
  margin:0;

}

tr:nth-child(odd) {
  background-color: #eee;
}

tr:nth-child(odd):hover{
  background-color: #8A8A8A;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}