@media only screen and (max-width: 600px){
    .app{
    text-align:center;
    display:flex;
    
  }

  h1{
    margin:0 50px 50px 50px;
    font-size:15px;
  }

  header{
 
    padding:5px 10px 5px 10px;
    margin: 25px auto;
    color: #fff;
    font-family: Montserrat;
    font-size:0.75em;
    background-color: #AB2D2D;
  }
  main {
    text-align: left;
    font-size: 16px;

  }

  footer {

    font-family: Montserrat;
  }

  nav {
  grid-area: navBar;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #fff;
  padding: 0 16px;
}

.container {
    width: 90%;
    margin: 0 auto;
}


.app{
  text-align:center;
  display:grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows:100px auto 50px;
  grid-template-areas:
  "header header"
  "sideBar mainContent"
  "footer footer"
}

header{
  grid-area: header;
  padding:25px 50px 50px 50px;
  margin: 25px auto;
  color: #fff;
  font-family: Montserrat;
  background-color: #AB2D2D;


}

h1{
  margin:0 50px 50px 50px;
  font-size:25px;
}

nav {
  grid-area: sideBar;
}


main {
  text-align: left;
  font-size: 16px;
  grid-area: mainContent;
}

footer {
  grid-area: footer;
  font-family: Montserrat;
}

.welcome{
  text-align: center;
}

p{
  margin:25px auto auto 25px;
}
