.app{
  text-align:center;
  display:grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows:100px auto 50px;
  grid-template-areas:
  "header header"
  "sideBar mainContent"
  "footer footer"
}

header{
  grid-area: header;
  padding:25px 50px 50px 50px;
  margin: 25px auto;
  color: #fff;
  font-family: Montserrat;
  background-color: #AB2D2D;
}

h1{
  margin:0 50px 50px 50px;
}

nav {
  grid-area: sideBar;
}
nav ul, li{
  color: green;
  font-size:16px;
  list-style-type: none;
  text-align:left;
  margin-left:5px;
  padding-left:0;
}

nav ul li ul.block li{
  color:red;
  list-style-type: disc;
  margin-left:5px;
  padding-left:0;

}

nav ul .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

main {
  text-align: left;
  font-size: 16px;
  grid-area: mainContent;
}

footer {
  grid-area: footer;
  font-family: Montserrat;
}

.welcome{
  text-align: center;
}

p{
  margin:25px auto auto 25px;
}
